@font-face {
    font-family: "Helvetica Bold";
    src: url("../font/Helvetica-bold.ttf")
}

@font-face {
    font-family: "ubuntumonoR";
    src: url("../font/UbuntuMono-R.ttf")
}
main{
    margin-top:100px;
    margin-bottom:10px;
}

.nav{
    overflow: hidden;
    position: absolute; /* Set the navbar to fixed position */
    background-color: #fafaf6;
    top:0;
    width: 100%;
    right:0;
    justify-content: center;
    box-shadow: -3px -93px 133px 0px rgba(0,0,0,0.36) inset;
}

.nav h1{
    color: #000000;
    text-align: center;
    font-family: "Helvetica Bold";
    opacity: .8;
    font-size: 35px;

}

.active{
    background: #fafaf6;
    color:black;
    cursor: default;
}

body{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),url(https://cdn.discordapp.com/attachments/921823159634788434/943628488668241930/1643774456575.jpg) center ;
}

#pdp{
    margin-top: 200px;
    display:block;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    border: 21px solid #ffffff;
    border-image: linear-gradient(to right, #D8097E, #8C579C, #24468E) 1;

}
.ppsquare h1{
    color: #fafaf6;
    text-align: center;
    font-family: "Helvetica Bold";
    font-size: 52px;

}

.mainsquare{
    margin-top:150px;
    background-color: #0b1922;
    right:0;
    left:0;
    position: absolute;
}

.mainsquare h1{
    font-family: ubuntumonoR;
}
.console{
    background-color: #524e4a;
    margin-left: 15px;
    width: 55%;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.52);
    border-radius: 7px 7px 0px 0px;


}
.console h1{
    font-size: 20px;
    padding-left: 5px;
    color:white;
    position:relative;
    left:15px;
}

.zoneconsole{
    background-color: #300a24;
    color:white;
    font-family: ubuntumonoR;
    padding-top: 10px;
    padding-left: 5px;
}
body::-webkit-scrollbar{
    display: none;
}

.dollar{color:white;}

#whitespace1,#whitespace2{color: #300a24;}

.tiret{color: #1cacff;}

.barre{
    display: flex;
    flex-direction: column;
}
.prefix{
    color: #61cb5f;
}
.droite{
    position: relative;
    left: 51%;
    top: 20px;
    width: 47%;
}

.ascii{
    display: flex;
    color:white;
    justify-content: center;
    //flex-direction: column;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}


.ligne{
    display: flex;

margin-top: 10px;
}